name: ci

on:
  push:
    branches: ["main", "master"]
  pull_request:
    branches: ["*"]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v2.5.2

      - name: Lint
        run: deno lint

      - name: Format check
        run: deno fmt --check

      - name: Test
        run: deno test -A
