name: ci

on:
  push:
    branches: ["main", "master"]
  pull_request:
    branches: ["*"]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v13

      - name: Configure Nix cache
        uses: DeterminateSystems/magic-nix-cache-action@v4

      - name: Lint
        run: nix develop --command deno lint

      - name: Format check
        run: nix develop --command deno fmt --check

      - name: Type check
        run: nix develop --command deno check --all mod.ts

      - name: Test
        run: nix develop --command deno test -A
